<div class="wrapper">
  <%= render 'shared/header' %>
  <%= render 'shared/aside' %>

  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <%= image_tag 'admin-lte/dist/img/user2-160x160.jpg', class: 'profile-user-img img-responsive img-circle' %>

              <h3 class="profile-username text-center">
                <%= @profile.nome %>
              </h3>

              <p class="text-muted text-center">
                <%= @profile.formacao %>
              </p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Amigos</b> <a class="pull-right">0</a>
                </li>
                <li class="list-group-item">
                  <b>Postagens</b> <a class="pull-right"><%= current_user.publicacaos.count %></a>
                </li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Sobre Mim</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

              <strong><i class="fa fa-briefcase margin-r-5"></i>Partido Político</strong>

              <p class="text-muted">
                <%= @profile.partido %>
              </p>

              <hr>

              <strong><i class="fa fa-birthday-cake margin-r-5"></i>Aniversário</strong>

              <p class="text-muted">
                <%= @profile.data_nascimento %>
              </p>

              <hr>

              <strong><i class="fa fa-heart margin-r-5"></i>Estado Civil</strong>

              <p class="text-muted">
                <%= @profile.estado_civil %>
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i>Localização</strong>

              <p class="text-muted">
                <%= "#{@profile.cidade} - #{@profile.estado}" %>
              </p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i>Preferências</strong>

              <p>
                <span class="label label-danger">Versátil</span>
                <span class="label label-success">Novinho</span>
                <span class="label label-info">Ursos</span>
                <span class="label label-warning">+18</span>
                <span class="label label-primary">NUDES</span>
              </p>

              <hr>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

        <div class="col-md-9 pull-left">
          <h3><i class="fa fa-edit"></i> Nova Publicação</h3>
        </div>

        <div class="col-md-9">
          <div class="box box-primary">
            <div class="box-header">
              <div class="user-block">
                <%= image_tag 'admin-lte/dist/img/user2-160x160.jpg', class: 'img-circle' %>
                <span class="username"><a href="#"><%= @profile.nome %></a></span>
                <span class="description"> Nova Publicação</span>
              </div>
            </div>

            <%= form_for Publicacao.new, url: {controller: :publicacao, action: :create} do |f| %>
              <div class="box-body">
                <%= f.text_area :text, class: 'form-control', rows: 3, placeholder: 'No que você está pensando?' %>
              </div>

              <div class="box-footer">
                <%= f.submit 'Publicar', class: 'btn btn-success pull-right btn-sm' %>
              </div>
            <%end%>
            <!-- /.box -->
          </div>
        </div>
        <!-- /.col -->

        <div class="col-md-9 pull-left">
          <h3><i class="fa fa-newspaper-o"></i> Suas Publicações</h3>
        </div>

        <div class="col-md-9">

          <div class="box box-primary">

            <div class="box-body">
                <% current_user.publicacaos.each do |p| %>

                    <!-- Box Comment -->
                    <div class="box box-widget">
                      <div class="box-header with-border">
                        <div class="user-block">
                          <%= image_tag 'admin-lte/dist/img/user2-160x160.jpg', class: 'img-circle' %>
                          <span class="username"><a href="#"><%= @profile.nome %></a></span>
                          <span class="description">Publicado em <%= p.created_at.strftime('%d/%m/%Y às %H:%M') %></span>
                        </div>

                        <div class="box-tools">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                          </button>
                        </div>

                      </div>
                      <!-- /.box-header -->

                      <div class="box-body">
                        <p><%= p.text %></p>
                        <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Gostar</button>
                        <span class="pull-right text-muted"><%= "#{p.comments.count} comentários"%></span>
                      </div>
                      <!-- /.box-body -->

                      <% p.comments.each do |c| %>
                          <div class="box-footer box-comments">
                            <div class="box-comment">
                              <!-- User image -->
                              <%= image_tag 'admin-lte/dist/img/user2-160x160.jpg', class:"img-circle img-sm" %>

                              <div class="comment-text">
                                <span class="username">
                                  <%= c.user.profile.nome %>
                                  <span class="text-muted pull-right">
                                    <%= c.created_at.strftime('%d/%m/%Y às %H:%M') %>
                                  </span>
                                </span><!-- /.username -->
                                    <%= c.text %>
                              </div>
                              <!-- /.comment-text -->
                            </div>
                            <!-- /.box-comment -->
                          </div>
                          <!-- /.box-footer -->
                      <%end%>

                      <div class="box-footer">
                        <%= form_for Comment.new, url: {controller: :comments, publicacao_id: p.id, action: :create} do |f| %>
                            <%= image_tag 'admin-lte/dist/img/user2-160x160.jpg', class:"img-responsive img-circle img-sm" %>
                            <div class="img-push">
                              <div class="col-sm-10">
                                <%= f.text_field :text, class: 'form-control input-sm', placeholder: 'Faça seu comentário' %>
                              </div>
                              <div class="col-sm-2">
                                <%= f.submit "Publicar", class: 'btn btn-success pull-right btn-block btn-sm' %>
                              </div>
                            </div>
                        <%end%>
                      </div>
                      <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->

                <% end %>

            </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
</div>